{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {{ "title_show"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set has_tab = (admin.showtabs|length == 1 and admin.showtabs|keys[0] != 'default') or admin.showtabs|length > 1 %}

        {% if has_tab %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, show_tab in admin.showtabs %}
                        <li{% if loop.first %} class="active"{% endif %}>
                            <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                                {{ name|trans({}, show_tab.translation_domain ?: admin.translationDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for code, show_tab in admin.showtabs %}
                        <div
                                class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                id="tab_{{ admin.uniqid }}_{{ loop.index }}"
                        >
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if show_tab.description != false %}
                                        <p>{{ show_tab.description|raw }}</p>
                                    {% endif %}

                                    {% set groups = show_tab.groups %}
                                    {{ block('show_groups') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif admin.showtabs is iterable %}
            {% set groups = admin.showtabs.default.groups %}
            {{ block('show_groups') }}
        {% endif %}

    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}

{% block show_groups %}
    <div class="row">
        {% block field_row %}
            {% for code in groups %}
                {% set show_group = admin.showgroups[code] %}

                <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }}">
                    <div class="{{ show_group.box_class }}">
                        <div class="box-header">
                            <h4 class="box-title">
                                {% block show_title %}
                                    {{ show_group.name|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                                {% endblock %}
                            </h4>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            {% if code == 'Профиль.Профиль пользователя' %}
                                <table class="table">
                                    <tbody>
                                    {% for field_name in show_group.fields %}
                                        {% block show_field %}
                                            <tr class="sonata-ba-view-container">
                                                {% if elements[field_name] is defined %}
                                                    {% if elements[field_name].name == 'roles' %}
                                                        {% set roles = object.roles %}
                                                        <th>Роль</th>
                                                        <td>
                                                            {% for role in roles %}
                                                                {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                                                                    Администратор
                                                                {% elseif role == 'ROLE_TEACHER' %}
                                                                    Преподаватель
                                                                {% elseif role == 'ROLE_CURATOR' %}
                                                                    Куратор
                                                                {% elseif role == 'ROLE_ACCOUNTANT' %}
                                                                    Бухгалтер
                                                                {% elseif role == 'ROLE_LISTENER' %}
                                                                    Слушатель
                                                                {% elseif role == 'ROLE_PARENT' %}
                                                                    Родитель
                                                                {% elseif role == 'ROLE_CHILD' %}
                                                                    Ребенок
                                                                {% endif %}
                                                                {% if not loop.last %}
                                                                    <br>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </td>
                                                    {% else %}
                                                        {{ elements[field_name]|render_view_element(object)}}
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                        {% endblock %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% elseif code == 'Данные преподавателя.' %}
                                <div style="margin-bottom: 20px">
                                    <a class="btn btn-primary" href="{{ path('admin_app_groups_create', {'teacher': object.id}) }}">
                                        Добавить новую группу
                                    </a>
                                    <a class="btn btn-primary" href="{{ path('admin_app_users_edit', {'id': object.id, 'list_groups': 'edit_teacher'}) }}">
                                        Добавить существующую группу
                                    </a>
                                </div>
                                {% if object.list_groups.teacher and object.list_groups.teacher.getTotalItemCount > 0 %}
                                    {% include
                                            'SonataAdminBundle:content:group_list.html.twig'
                                        with
                                            {
                                                'status': 'success',
                                                'heading': 'Список групп',
                                                'groups': object.list_groups.teacher,
                                                'teacher_show': false,
                                                'curator_show': false,
                                                'time_show': false,
                                                'number_lessons': true,
                                                'child_show': false,
                                                'edit': true
                                            }
                                    %}
                                {% endif %}
                            {% elseif code == 'Данные куратора.' %}
                                <div style="margin-bottom: 20px">
                                    <a class="btn btn-primary" href="{{ path('admin_app_groups_create', {'curator': object.id}) }}">
                                        Добавить новую группу
                                    </a>
                                    <a class="btn btn-primary" href="{{ path('admin_app_users_edit', {'id': object.id, 'list_groups': 'edit_curator'}) }}">
                                        Добавить существующую группу
                                    </a>
                                </div>
                                {% if object.list_groups.curator and object.list_groups.curator.getTotalItemCount > 0 %}
                                    {% include
                                            'SonataAdminBundle:content:group_list.html.twig'
                                        with
                                            {
                                                'status': 'success',
                                                'heading': 'Список групп',
                                                'groups': object.list_groups.curator,
                                                'teacher_show': false,
                                                'curator_show': false,
                                                'time_show': false,
                                                'number_lessons': true,
                                                'child_show': false,
                                                'edit': true
                                            }
                                    %}
                                {% endif %}
                            {% elseif code == 'Группы.' %}
                                <div style="margin-bottom: 20px">
                                    <a class="btn btn-primary" href="{{ path('admin_app_users_edit', {'id': object.id, 'listener': 'new_group'}) }}">
                                        Добавить группу
                                    </a>
                                </div>
                                {% if object.list_groups.listener and object.list_groups.listener.getTotalItemCount > 0 %}
                                    {% include
                                            'SonataAdminBundle:content:group_list.html.twig'
                                        with
                                            {
                                                'status': 'success',
                                                'heading': 'Список групп',
                                                'groups': object.list_groups.listener,
                                                'teacher_show': false,
                                                'curator_show': false,
                                                'time_show': false,
                                                'number_lessons': true,
                                                'child_show': false,
                                                'edit': true
                                            }
                                    %}
                                {% endif %}
                            {% elseif code == 'Родители.' %}
                                {% if object.getParent|length > 0 %}
                                    {% include 'SonataAdminBundle:CRUD/parts/user:user_base_show_parent.html.twig' %}
                                {% else %}
                                    <a class="btn btn-primary btn-sm" href="{{ admin.generateObjectUrl('edit', object) }}">
                                        Добавить родителей
                                    </a>
                                {% endif %}
                            {% elseif code == 'Дети.' %}
                                {% include 'SonataAdminBundle:CRUD/parts/user:user_base_show_child.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock %}

    </div>
{% endblock %}
